*.pyc
*-main.py

SQL_more_queries/oui.sql
SQL_introduction/temperatures.sql
SQL_introduction/cat
python-almost_a_circle/Square.json
python-object_relational_mapping/__pycache__/model_state.cpython-310.pyc
python-object_relational_mapping/__pycache__/model_city.cpython-310.pyc
